@import url('https://fonts.googleapis.com/css?family=Acme|Neucha&display=swap');

:root {
    --main-color: black;
    --accent-color: black;
    font-family: 'Montserrat', sans-serif;
    }

body {
    max-width: 1100px;
    margin: auto;
    background-size: 100%;
    background: url(../img/background.jpg) repeat-y;

}

h1, h2, h3, h4, h5, h6, header, footer, nav {
    margin: 0;
    padding: 0;
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.top-header .logo {
    font-family: 'Acme', sans-serif;
    font-size: 3rem;
    text-align: center;
    }

.top-header .top-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    flex: 1;
    font-family: 'Neucha', cursive;
}

.top-header .top-menu li  {
    list-style-type: none;
}

.top-header .top-menu li a {
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    color: var(--main-color);
}

.top-header .top-menu li a:hover {
    border: 1px solid var(--accent-color);
    border-radius: 20px;
}


.top-header .main-display {
    background-image: url(../img/background-medicine.jpg);    background-size: 100%;
    background-position: center;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Neucha', cursive;
    text-transform: uppercase;
    font-size: 58px;
    font-weight: bold;
    text-shadow: 8px 5px 5px white, 1em 0 1em black;
}


.top-header h1 {
    color: var(--accent-color);
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 3rem;
}

@media (min-width: 670px) {
    .top-header nav {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 670px) {
    .search-form input:focus {
        width: 370px;
    }
}
